@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Cormorant+Infant&display=swap');

/* Global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    font-family: "Cormorant Infant", serif;
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100vh;
}

.pages {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Background */
#bg-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-image: url('media/engjell-gjepali-M0OIyN5u8ZM-unsplash.jpg');
    background-size: cover;
    background-position: center;
    z-index: -1;
}

#bg-container::before {
    content: "Photo by Engjell Gjepali";
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #d5d8cb;
    z-index: 1;
}

#heading1 {
    position: absolute;
    top: 60px;
    left: 360px;
    font-size: 48px;
    font-family: "DM Serif Display", serif;
    color: #166b53;
}

/* Glass Card */
.glass-card {
    background: rgba(213, 216, 203, 0.6);
    border-radius: 30px;
    padding: 40px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

/* Input Box */
#inputbox {
    width: 400px;
    text-align: center;
}

.input-subheading {
    font-size: 20px;
    color: #166b53;
    font-family: "DM Serif Display", serif;
    margin-bottom: 20px;
}

/* Input Fields */
.input-field {
    margin: 20px 0;
}

.input-field label {
    font-size: 20px;
    display: block;
    margin-bottom: 5px;
    color: #166b53;
}

.input-field input {
    width: 100%;
    height: 40px;
    padding: 10px;
    border-radius: 30px;
    border: 0px;
    background-color: #d5d8cb;
    font-size: 16px;
}

/* Submit Button */
#submit {
    margin-top: 20px;
    padding: 12px 24px;
    font-size: 16px;
    font-family: "DM Serif Display", serif;
    color: #166b53;
    background-color: #d5d8cb;
    border: 2px solid #166b53;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#submit:hover {
    background-color: #88a2a0;
}

/* Output Columns */

.output-columns {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: flex-start;
    padding: 0 40px;
    width: 100%;
}

.output-columns .glass-card {
    width: 300px;
    height: 400px;
    text-align: center;
    position: relative;
    margin-top: 135px;
}

.output-columns h3 {
    font-family: "DM Serif Display", serif;
    font-size: 28px;
    margin-bottom: 10px;
    color: #166b53;
}

/* Output Values */
#input-display,
#wgs-display,
#espg-display {
    margin-top: 10px;
    color: #333;
    font-size: 16px;
    line-height: 1.5;
}

/* New Search Button */
#newsearch {
    margin-top: 405px;
    padding: 10px 20px;
    border-radius: 30px;
    border: 2px solid #166b53;
    background-color: #d5d8cb;
    color: #166b53;
    font-family: "DM Serif Display", serif;
    font-size: 16px;
    cursor: pointer;
}

#newsearch:hover {
    background-color: #88a2a0;
}

/* Loader*/
.loader-overlay {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    width: 100%;
    height: 100vh;
    background-image: url('media/engjell-gjepali-M0OIyN5u8ZM-unsplash.jpg');
    background-size: cover;
    background-position: center center;
}

.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 4px solid #166b53;
    top: 50%;
    animation: loader 2s infinite ease;
}


.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #d5d8cb;
    animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {

    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(180deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes loader-inner {

    0% {
        height: 0%;
    }

    25% {
        height: 0%;
    }

    50% {
        height: 100%;
    }

    75% {
        height: 100%;
    }

    100% {
        height: 0%;
    }
}